
<mat-card class="middle">
  <h1 class="text-center">Reporte Agricultores</h1><br>
  <form class="was-validated" [formGroup]="formfiltro" >
      <p *ngIf="!formfiltro.valid" style="color:red"><strong>* Campos Obligatorios</strong></p>
      <mat-panel-title>Rango de Fechas:</mat-panel-title>  
      <div class="row">
          <mat-form-field appearance="legacy" class="col-sm">
              <mat-label>Desde:</mat-label>
              <input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="dd/mm/yyyy" formControlName="desde" (click)="picker.open()" required readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>  
          </mat-form-field>
          <mat-form-field appearance="legacy" class="col-sm">
              <mat-label>Hasta:</mat-label>
              <input matInput [max]="maxDate" [matDatepicker]="picker2" placeholder="dd/mm/yyyy" formControlName="hasta" (click)="picker2.open()" required readonly>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field> 
      </div>
    
      <div class="text-center">
          <button class="btn btn-primary" type="submit" (click)="generarReporte()" [disabled]="!formValid()">
              <i class="fa fa-search fa-5x" aria-hidden="true"></i>
              Buscar
          </button>
          <button class="btn full" type="button" (click)="limpiar()">
              <i class="fa fa-eraser" aria-hidden="true"></i>
              Limpiar Filtro
          </button>
      </div>
      <div *ngIf="!formfiltro.valid">
          <p style="color: gray;text-align: right;">Por favor ingrese campos obligatorios.</p>
        </div>
  </form>
</mat-card>



<div *ngIf="reportes.data.length > 0" class="my-2 my-sm-3 my-md-4 my-lg-5 mx-2 mx-sm-3 mx-md-4 mx-lg-5">
    <mat-card-title class="main-title" >Resultados de Consulta</mat-card-title>
    
    <div class="row mt-2" > 
      <div class="col-sm py-3 ps-2 pe-3">
        <mat-card class="parent">
            <div>
                <mat-form-field appearance="standard" class="col-12 col-sm-12 col-md-5 col-lg-4 me-0 me-sm-0 me-md-3 me-lg-4">
                    <mat-label>Filtro</mat-label>
                    <input matInput (keyup)="applyFilter($event)">
                  </mat-form-field>
                  <button class="btn btn-success" (click)="generarExcel()">
                    Exportar Excel
                    <i class="fa fa-file-excel-o"></i>
                </button>
                  <div class="result-count">
                    <span class="title">Resultados de búsqueda </span>
                    <span class="count">{{reportes.data.length}}</span>
                  </div>
                  <div class="table-responsive">
                    <table mat-table [dataSource]="reportes" matSort>
                        <ng-container matColumnDef="Agricultor">
                            <th mat-header-cell *matHeaderCellDef class="header-table" mat-sort-header>
                              Agricultores
                            </th>
                            <td mat-cell *matCellDef="let item"> {{item.nombreAgricultor}} </td>
                          </ng-container>
                        <ng-container matColumnDef="Usuario">
                        <th mat-header-cell *matHeaderCellDef class="header-table" mat-sort-header>
                          Usuario
                        </th>
                        <td mat-cell *matCellDef="let item"> {{item.usuarioAgricultor}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="Telefono">
                        <th mat-header-cell *matHeaderCellDef class="header-table" mat-sort-header>
                          Telefono
                        </th>
                        <td mat-cell *matCellDef="let item"> {{item.telefonoAgricultor}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef class="header-table" mat-sort-header>
                            Email
                        </th>
                        <td mat-cell *matCellDef="let item"> {{item.emailAgricultor}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Peso Total">
                        <th mat-header-cell *matHeaderCellDef class="header-table" mat-sort-header>
                            Peso Total Entregados
                        </th>
                        <td mat-cell *matCellDef="let item"> {{item.pesoTotal}} KG</td>
                      </ng-container>
                      <ng-container matColumnDef="cantidadCuentas">
                        <th mat-header-cell *matHeaderCellDef class="header-table" mat-sort-header>
                            Cuentas Confirmadas
                        </th>
                        <td mat-cell *matCellDef="let item"> {{item.cantidadCuentas}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Cantidad Faltantes">
                        <th mat-header-cell *matHeaderCellDef class="header-table" mat-sort-header>
                            Cantidad Faltantes
                        </th>
                        <td mat-cell *matCellDef="let item"> {{item.toleranciaMenor}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Cantidad Sobrantes">
                        <th mat-header-cell *matHeaderCellDef class="header-table" mat-sort-header>
                            Cantidad Sobrantes
                        </th>
                        <td mat-cell *matCellDef="let item"> {{item.toleranciaMayor}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Cantidad Entregas Completas">
                        <th mat-header-cell *matHeaderCellDef class="header-table" mat-sort-header>
                            Cantidad Entregas Completas
                        </th>
                        <td mat-cell *matCellDef="let item"> {{item.toleranciaCoincide}} </td>
                      </ng-container>
                      
          
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div>
                        <mat-paginator #MatPaginator2="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                          aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>
                  </div>
            </div>          
        </mat-card>
      </div>    
    </div>
  </div>
