<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="row">
                <div class="col-md-3">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>MENU</mat-card-title>
                        </mat-card-header>
                        <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    </div>
</div>